{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "endOfLine": "crlf",
    "semi": false,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "overrides": [
      {
        "files": ".prettierrc",
        "options": {"parser": "json"}
      }
    ],
    "importOrder": ["^react", "^@", "^[a-zA-Z]", "^[./]"],
    "importOrderSeparation": true,
    "experimentalBabelParserPluginsList": ["jsx", "typescript"]
  }